/* child selector-selects all the paragraph */
div > p {
  font-size: 35px;
  line-height: 50px;
}

/* adjacent sibling selector- selects for p to h1 */
h1 + p {
  color: rgb(117, 34, 128);
}
/* general sibling */
p ~ ul {
  font-size: 30px;
  font-style: italic;
}
.bodycls {
  padding: 0;
  background-image: url(butterfly-pattern-g9923b2aa7_1920.jpg);
  width: 99vw;
  height: 130vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#h1id {
  margin: 10px;
}
ul > li {
  color: rgb(165, 108, 17);
}
